---
import Layout from '../layouts/Layout.astro';
import NuestrosExperto from '../components/NuestrosExperto.astro';
---

<Layout title="Listado de Expertos - ProTeam">
  <main class="pt-16"> 
    <NuestrosExperto />
  </main>
</Layout>